<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab2Client</display-name>
  <welcome-file-list>
    <welcome-file>/View/SignIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/View/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signIn</display-name>
    <servlet-name>signIn</servlet-name>
    <servlet-class>Servlets.signIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/View/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showUserInfo</display-name>
    <servlet-name>showUserInfo</servlet-name>
    <servlet-class>Servlets.showUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showUserInfo</servlet-name>
    <url-pattern>/View/showUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCategory</display-name>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>Servlets.addCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/View/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAddCategory</display-name>
    <servlet-name>doAddCategory</servlet-name>
    <servlet-class>Servlets.doAddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddCategory</servlet-name>
    <url-pattern>/View/doAddCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addElement</display-name>
    <servlet-name>addElement</servlet-name>
    <servlet-class>Servlets.addElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addElement</servlet-name>
    <url-pattern>/View/addElement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAddElem</display-name>
    <servlet-name>doAddElem</servlet-name>
    <servlet-class>Servlets.doAddElem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddElem</servlet-name>
    <url-pattern>/View/doAddElem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>Servlets.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/View/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eleinfo</display-name>
    <servlet-name>eleinfo</servlet-name>
    <servlet-class>Servlets.eleinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eleinfo</servlet-name>
    <url-pattern>/View/eleinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addreview</display-name>
    <servlet-name>addreview</servlet-name>
    <servlet-class>Servlets.addreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addreview</servlet-name>
    <url-pattern>/View/addreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doAddreview</display-name>
    <servlet-name>doAddreview</servlet-name>
    <servlet-class>Servlets.doAddreview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddreview</servlet-name>
    <url-pattern>/View/doAddreview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signOut</display-name>
    <servlet-name>signOut</servlet-name>
    <servlet-class>Servlets.signOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/View/signOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCat</display-name>
    <servlet-name>deleteCat</servlet-name>
    <servlet-class>Servlets.deleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCat</servlet-name>
    <url-pattern>/View/deleteCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doDeleteCat</display-name>
    <servlet-name>doDeleteCat</servlet-name>
    <servlet-class>Servlets.doDeleteCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doDeleteCat</servlet-name>
    <url-pattern>/View/doDeleteCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteElem</display-name>
    <servlet-name>deleteElem</servlet-name>
    <servlet-class>Servlets.deleteElem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteElem</servlet-name>
    <url-pattern>/View/deleteElem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doDeleteElem</display-name>
    <servlet-name>doDeleteElem</servlet-name>
    <servlet-class>Servlets.doDeleteElem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doDeleteElem</servlet-name>
    <url-pattern>/View/doDeleteElem</url-pattern>
  </servlet-mapping>
</web-app>